aside .logo a::before
{
	border-top: 4px solid #9933FF;
	border-left: 4px solid #9933FF;
}
.aside .logo a::after
{
	border-right: 4px solid #9933FF;
	border-bottom:  4px solid #9933FF;
}

.contact .contact-info-item .icon .fa,
.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
.aside .nav li a.active
{
	color: #9933FF;
}
.home .intro .social-links a:hover,
.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a
{
	background-color: #9933FF; 
}

